<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lesbar.club</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicons/favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ url_for('static', filename='favicons/apple-icon-57x57.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename='favicons/apple-icon-60x60.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ url_for('static', filename='favicons/apple-icon-72x72.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ url_for('static', filename='favicons/apple-icon-76x75.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ url_for('static', filename='favicons/apple-icon-114x114.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ url_for('static', filename='favicons/apple-icon-120x120.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ url_for('static', filename='favicons/apple-icon-144x144.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ url_for('static', filename='favicons/apple-icon-152x152.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicons/apple-icon-180x180.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicons/manifest.json') }}"
    />
  </head>
  <body>
    <img
      id="logo"
      alt="lesbar.club"
      src="{{ url_for('static', filename='images/logo.svg') }}"
    />
    <div class="card" id="text-card">
      <div class="header">
        <h2>Text</h2>
        <div class="dropdown">
          <button id="language-select" class="primary">
            {{ supported_languages[default_language].label }}
          </button>
          <div class="dropdown-content">
            <div id="languges">
              {% for key, value in supported_languages.items() %}
              <button data-locale="{{ key }}" class="language">
                {{ value['label'] }}
              </button>
              {% endfor %}
            </div>
          </div>
        </div>
        <button id="check" class="secondary margin-left">
          Überprüfen
          <div class="progress"></div>
        </button>
      </div>
      <div class="content">
        <textarea
          id="text-input"
          placeholder="Gib den zu prüfenden Text hier ein..."
        ></textarea>
      </div>
      <div class="footer">
        <div id="lang-notify">
          <div class="notify"></div>
          <button id="lang-change" class="secondary margin-left">Change</button>
        </div>
        <div id="results">
          <div id="text">
            <div id="detected-lang">
              <h3>Detected</h3>
              <div class="detected"></div>
            </div>
            <div id="chars">
              <h3>Zeichen</h3>
              <div class="number"></div>
            </div>
            <div id="letters">
              <h3>Buchstaben</h3>
              <div class="number"></div>
            </div>
            <div id="syllables">
              <h3>Silben</h3>
              <div class="number"></div>
            </div>
            <div id="sentences">
              <h3>Sätze</h3>
              <div class="number"></div>
            </div>
            <div id="words">
              <h3>Wörter</h3>
              <div class="number"></div>
            </div>
          </div>
          <div id="lesbar">
            <div class="index" id="fre">
              <h3>Flesch-Reading-Ease-De</h3>
              <div class="result"></div>
            </div>
            <div class="index" id="wstf">
              <h3>Wienersachtext-Formel-4</h3>
              <div class="result"></div>
            </div>
            <div class="index" id="lix">
              <h3>Lesbarkeitsindex</h3>
              <div class="result"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      © 2019 by Mike Barkmin.
      <a href="https://github.com/mikebarkmin/lesbar.club">GitHub Repository</a>
    </footer>
  </body>
  <script>
    let supportedLanguages = {{ supported_languages|tojson }};
  </script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
</html>
